<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>기아타이거즈 22우승</h1>
    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5055%2F2022%2F05%2F06%2F0000614426_001_20220506091201124.JPG&type=a340">

    <form action="http://192.168.31.171:5048/cal" method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="post계산">
    </form>
    
    
    
</body>
</html>